<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="styles.css">
<title>The Instagram Clone</title>

</head>

<body>

<div class="page">
	<header>
		<h2>The Instagram Clone</h2>
	</header>

	<div class="container">

		<div class="page-left-side"></div>

		<div class="content">
			<p>content</p>
		</div>
	  
		<div class="page-right-side">
			<div class="filter">
				<h3>Filter</h3>
				<div class="form-row">
				<label for="name">Name:</label>
				<input type="text" id="name">
			</div>
			</div>
		</div>
		
	</div>

	<footer>
		<h5>The Footer</h5>
	</footer>

</div>


</body>

</html>