<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="styles.css">
<title>The Instagram Clone</title>

</head>

<body>

<div class="page">
	<header>
		<div class="header-title">
			<h2>The Instagram Clone</h2>
		</div>

		<div class="current-user-name">
			<p>Sieviaryn Budrys</p>
		</div>

		<div class="header-buttons">
			<button type="button" class="header-button">My Photos</button>
			<button type="button" class="header-button">Upload</button>
			<button type="button" class="header-button">Log Out</button>
		</div>
	</header>

	<div class="container">

		<div class="page-left-side"></div>

		<div class="content">
			<p>content</p>
		</div>
	  
		<div class="page-right-side">
			<div class="filter">
				<h3>Filter</h3>
				
				<div class="filter-block">
					<label for="date">Pick the Date</label>
					<input type="date" name="date">					
				</div>

				<div class="filter-block">
					<label for="author">Type the Author Name</label>
					<input type="text" id="author">
				</div>				

				<button type="button" class="filter-apply">Apply</button>
			</div>
		</div>
		
	</div>

	<footer>
		<h5>The Footer</h5>
	</footer>

</div>


</body>

</html>