<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>The Instagram Clone</title>

</head>

<body>

<div class="page">
    <header>
        <div class="header-title">
            <h2>The Instagram Clone</h2>
        </div>

        <div class="current-user-name">
            <p>Sieviaryn Budrys</p>
        </div>

        <nav class="header-nav">
            <button type="button" class="header-button">My Photos</button>
            <button type="button" class="header-button">Upload</button>
            <button type="button" class="header-button">Log Out</button>
        </nav>
    </header>

    <div class="container">

        <section class="content">

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic3.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_empty_32.png" alt="likes: ">
                        <p>180</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#aspiring #rest #nature #lunch ...</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic1.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_full_32.png" alt="likes: ">
                        <p>223</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#rest #fishing #nature</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic2.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_empty_32.png" alt="likes: ">
                        <p>132</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#tranquil #half-face #nature</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic3.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_empty_32.png" alt="likes: ">
                        <p>180</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#aspiring #rest #nature #lunch ...</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic1.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_full_32.png" alt="likes: ">
                        <p>223</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#rest #fishing #nature</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic2.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_empty_32.png" alt="likes: ">
                        <p>132</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#tranquil #half-face #nature</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic3.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_empty_32.png" alt="likes: ">
                        <p>180</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#aspiring #rest #nature #lunch ...</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic1.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_full_32.png" alt="likes: ">
                        <p>223</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#rest #fishing #nature</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <div class="post-date">
                        <p>20.12.1980</p>
                    </div>
                    <div class="post-author">
                        <p>Karatkievic</p>
                    </div>
                </div>

                <div class="post-image">
                    <img src="photos/karatkievic2.jpg" alt="fishing with Uladzimir"
                         width="250" height="250">
                </div>

                <div class="post-details">
                    <div class="post-likes">
                        <img src="icons/heart_empty_32.png" alt="likes: ">
                        <p>132</p>
                    </div>
                    <div class="post-hashtags">
                        <p>#tranquil #half-face #nature</p>
                    </div>
                </div>
            </div>

        </section>

        <aside class="page-right-side">
            <div class="filter">
                <div class="filter-header">
                    <h3>Filter</h3>
                </div>

                <div class="filter-block">
                    <label for="filter-date">Pick the Date</label>
                    <input type="date" name="filer-date" id="filter-date">
                </div>

                <div class="filter-block">
                    <label for="filter-author">Type the Author Name</label>
                    <input type="text" placeholder="Author Name" name="filter-author" id="filter-author">
                </div>

                <div class="filter-block">

                    <datalist id="hashtags-list">
                        <option value="sun">
                        <option value="no_filter">
                        <option value="nature">
                        <option value="night">
                        <option value="noFilter">
                        <option value="rest">
                        <option value="fishing">
                        <option value="joy">
                    </datalist>

                    <label for="filter-hashtag-1">Type some hashtags</label>

                    <div class="filter-hashtag-block">
                        <input type="text" class="hashtag-input-static" value="#" disabled>

                        <div class="hashtag-subdib">
                            <input type="text" name="filter-hashtag-1" id="filter-hashtag-1"
                                   placeholder="add hashtag" class="hashtag-input" value="sun"
                                   list="hashtags-list">

                            <button type="button" class="hashtag-remove-button">-</button>
                        </div>
                    </div>

                    <div class="filter-hashtag-block">
                        <input type="text" class="hashtag-input-static" value="#" disabled>

                        <div class="hashtag-subdib">
                            <input type="text" name="filter-hashtag-2" id="filter-hashtag-2"
                                   placeholder="add hashtag" class="hashtag-input" value="nature"
                                   list="hashtags-list">

                            <button type="button" class="hashtag-remove-button">-</button>
                        </div>
                    </div>

                    <div class="filter-hashtag-block">
                        <input type="text" class="hashtag-input-static" value="#" disabled>

                        <div class="hashtag-subdib">
                            <input type="text" name="filter-hashtag-3" id="filter-hashtag-3"
                                   placeholder="add hashtag" class="hashtag-input"
                                   list="hashtags-list">
                        </div>
                    </div>
                </div>

                <button type="button" class="filter-apply">Apply</button>
            </div>

            <button class="load-more-button">Load More</button>
        </aside>

    </div>

    <footer>
        <div class="footer-info">
            <p>The Instagram Clone. Educational Practice Task</p>
            <p>Made by Trafimau Alaksandr. 2 year, 2 group</p>
            <p>Last changes: February, 26, 2018</p>
        </div>
    </footer>

</div>


</body>

</html>