body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.page {
    background-color: #FFF;
    padding: 10px;
    border: 2px solid #BBB;
    border-radius: 10px;

    flex-basis: 90%;
}

/*--- container (the middle of the page) ---*/

.container {
    background-color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.right-block {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*--- header ---*/

header {
    border: 2px solid gainsboro;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.header-title {
    flex: 5;
    padding-left: 20px;
}

.current-user-name {
    text-align: right;
    border-bottom: 5px solid lightseagreen;
}

.header-nav {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    width: auto;
    flex-direction: row;
    direction: rtl;
    justify-content: flex-start;
}

.button-with-hover {
    min-width: 130px;

    background-color: #FFFFFF;
    border: 2px solid lightseagreen;
    border-radius: 5px;

    font-size: 1em;
    color: lightseagreen;
    text-align: center;

    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button-with-hover:hover {
    background-color: lightseagreen;
    color: white;
}

/*--- footer ---*/

footer {
    border: 2px solid gainsboro;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-info p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-info {
    text-align: center;

    flex-basis: 60%;
}

/*--- filter ---*/

#filter-form {
    border: 2px solid lightsteelblue;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.filter-date-user {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-block {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter-hashtags {
    display: flex;
    flex-direction: row;
}

.hashtag-block {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.hashtag-input-static {
    width: 10px;
}

.hashtag-subdib {
    display: flex;
    justify-content: space-between;
}

.hashtag-input {
    width: 85%;
}

.hashtag-remove-button {
    background-color: #FFFFFF;
    border: 2px solid #cf3e12;
    border-radius: 5px;

    font-size: 1em;
    color: #cf3e12;
    text-align: center;

    display: none;
    cursor: pointer;
}

.filter-block label {
    margin-bottom: 10px;
}

.filter-button {
    border-radius: 5px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;

    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 80px;
    cursor: pointer;
}

.filter-apply {
    background-color: lightseagreen;
    border: none;
}

.filter-clear {
    border: 2px solid lightseagreen;
    color: lightseagreen;
    background-color: #FFFFFF;
}

/*--- load more button under the filter ---*/

.load-more-button {
    background-color: lightseagreen;
    border-radius: 5px;
    border: none;

    font-size: 1em;
    color: #FFFFFF;
    text-align: center;

    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40%;
    cursor: pointer;
}

/*--- content ---*/

#content {
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 5px;

    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content-row {
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post {
    border: 2px solid lightgray;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;

    display: flex;
    flex-direction: column;
    width: 250px;
    align-self: center;
}

.post-header {
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
}

.post-date {
    text-align: left;

    flex-basis: 35%;
}

.post-user {
    text-align: right;

    flex-basis: 65%;
}

.post-image {
    height: 250px;
    cursor: pointer;
}

.post-details {
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.post-likes {
    border-bottom: 1px solid lightgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-likes-image {
    cursor: pointer;
    padding: 5px;
}

.post-likes-number {
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post-hashtags {
    /* next lines add three dots if hashtags overflow the line */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    padding: 5px;
}

/*--- media ---*/

@media screen and (min-width: 1380px) {
    .container {
        flex-direction: row;
        align-items: normal;
    }

    #content {
        order: 1;
        flex-basis: 75%;
    }

    .right-block {
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 20%;
        order: 2;
    }

    .filter-date-user {
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .filter-block {
        flex-basis: 80%;
        flex-wrap: nowrap;
    }

    .filter-hashtags {
        flex-direction: column;
    }

    .filter-apply {
        justify-self: flex-end;
    }
}

/* modal window styling */

.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-post.post {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    width: 70%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    overflow: auto; /* Enable scroll if needed */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-post.post-image {
    height: auto;

    flex-basis: 80%;
    display: flex;
}

.modal-post img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

    margin: auto;
}

.modal-post.post-aside {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-post.post-details {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-post.post-user {
    text-align: left;
}

.modal-post.post-details h4 {
    margin: 2px;
}

.modal-post.post-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-post.post-likes {
    margin-bottom: 20px;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-post.post-likes-image {
    cursor: pointer;
}

.modal-post.post-likes-number {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-post-delete:hover {
    background-color: crimson;
    border: 2px solid crimson;
}

.modal-login-popup {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 30%;
    height: 30%;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    overflow: auto; /* Enable scroll if needed */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-login-popup form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-popup-labels {
    flex-basis: 40%;
}

.login-popup-inputs {
    flex-basis: 50%;
}

.modal-login-popup div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-login-popup div * {
    padding-bottom: 5px;
}

.authentication-failed-span {
    display: none;
    padding-bottom: 5px;
    color: red;
}